<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Library</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.css" type="text/css">
</head>
<body>
    <!-- Header logo area -->
    <header class="logo">
        <img src="Logo" alt="Logo">
        <a href="/logout" class="logout-btn btn-danger">Logout</a>
    </header>

    <!-- Navigation Area -->
    <nav class="navigation">
        <ul class="container">
            <li><a href="/">Dashboard</a></li>
            <li><a href="#">Account <i></i></a>
                <ul>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/change-password">Change Password</a></li>
                </ul>
            </li>
            <li><a href="/issued-books">Issued Books</a></li>
            <li><a href="/book-request">Request A Book</a></li>
        </ul>
    </nav>

    <!-- Main Area -->
    <main class="container">
        <h2 class="title">PAGE TITLE</h2>
