<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Library</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
</head>
<body>
    <!-- Header logo area -->
    <header class="logo">
        <img src="Logo" alt="Logo">
        <a href="/logout" class="logout-btn btn-danger">Logout</a>
    </header>

    <!-- Navigation Area -->
    <nav class="navigation">
        <ul class="container">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/books">View Books</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <!-- Main Area -->
    <main class="container">
        <h2>THIS IS THE MAIN CONTENT AREA</h2>
    </main>
</body>
</html>