<%- include('partials/header') %>
        <div class="cards">
            <section class="card border-blue">
                <i class="fa fa-bars fa-5x blue"></i>
                <h3>Number</h3>
                <span>Books Issued</span>
            </section>
            <section class="card border-brown">
                <i class="fa fa-recycle fa-5x brown"></i>
                <h3>Number</h3>
                <span>Books Not Returned Yet</span>
            </section>
            <section class="card border-green">
                <i class="fa fa-book fa-5x green"></i>
                <h3>Number</h3>
                <span>Books Requested</span>
            </section>
        </div>
    </main>

    <!-- FOOTER SECTION -->
    <footer class="text-center">
        <p>
            &copy; Friction | <script>document.write(new Date().getFullYear())</script>
        </p>
    </footer>
</body>
</html>